# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQl
4. Julia
5. Scala

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib
3. Seaborn
4. scikit- learn
5. TensorFlow
6. PyTourch
7. Statsmodels
8. SciPy

|Data Science Tools|
|------------------|
|Jupter Notebook   |
|RStudio           |
|Anaconda          |
|Apache Hadoop     |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
10+20

30

In [4]:
20-10

10

In [5]:
20*10

200

In [6]:
20/10

2.0

In [7]:
20%10

0

In [8]:
10 ** 2

100

In [9]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [10]:
# This will convert 200 minutes to hours by diving by 60
minute = 200
hours = minute / 60
print(hours)

3.3333333333333335

**List popular languages for Data Science**<br>
+ Python
+ Scala
+ SQL
+ Julia
+ R

### Author
S. Nambithai